.container {
    padding: 100px 200px;
    background: var(--Background-image) no-repeat center center fixed;
    background-blend-mode: multiply;
    background-color: rgba(51, 55, 131, 0.76);
    background-size: cover;
    min-height: 100vh;
}
.topPageInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Main-background-color);
    padding: 40px 100px;
    border: 4px solid white;
    border-radius: 30px;
    color: green;
}
.UserIcon {
   width: auto;
    height: 100%;
}
.imageContainer {
    margin-left: 20px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.NavLinkName {
    position: relative;
    top: -4px;
    left: 5px;
    text-decoration: none;
    color: var(--color);
}
.NavLinkName:hover {
    text-decoration: underline;
    color: green;
}