.main {
    background-color: var(--Main-background-color);
}
.allColumns {
    display: flex;
    flex-direction: row;
    margin: 20px;

}
.allPairs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 30px;
}
.parentbracket {
    border: 2px solid #98f882;
    margin-top: 30px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(5, 35, 161, 0.78);
}
.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: rgba(63, 236, 51, 0.72);
    padding: 5px;
    margin: 20px 20px;
    width: 90px;
    height: 50px;
    overflow: hidden;
}
.user:not(:last-child) {
    border-bottom: 1px solid #beaeae;
}
.lineUp
{
    position: relative;
    left: 245px;
    top: -70px;
    content: "";
    width: 3px;
    height: 20px;
    background-color: #b9123a;
}
.lineDown
{
    position: relative;
    left: 245px;
    top: -53px;
    content: "";
    width: 3px;
    height: 20px;
    background-color: #b9123a;
}
.lineRight
{
    position: relative;
    left: 145px;
    top: -50px;
    content: "";
    height: 3px;
    width: 100px;
    background-color: #b9123a;
}
.user {
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}
.parentformodal {
    position: relative;
}
.hidemodal {
    display: none;
}
.inSideModal {
    display: flex;
    flex-direction: column;
}
.LogoutFromAcc {
    color: #020202;
    font-weight: bold;
}
.seemodal {
    display: block;
    position: absolute;
    z-index: 10000;
    top: 10px;
    left: 140px;
    width: 150px;
    height: auto;
    background-color: #f39d03;
    border: 1px solid white;
}

.click {
    position: relative;
    top: 65px;
    left: 110px;
    background-color: red;
border-radius: 50%;
    cursor: pointer;
    scale: 0.8;
}
.image {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    /*overflow: hidden;*/
    object-fit: cover;
}
.container {
    /*background-color: var(--Main-background-color);*/
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
h1 {
    margin: 0;
}
.MainInfo {
    display: flex;
    /*justify-content: center;*/
    padding: 20px;
}
.about {
    padding-left: 40px;
    width: 300px;
}
.player {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    inline-size: 300px;
    padding: 3px 0 3px 0;
    margin-top: 5px;
}
.RemoveTournament {
    background-color: var(--Button-color);
    color: var(--button-text-color);
    border: 1px solid black;
    padding: 10px 30px;
    align-self: center;
    border-radius: 10px;
    margin-top: 20px;
}
.RemoveTournament:hover {
    background-color: #572883;
    color: #59de0b;
    transition: background-color 500ms, color 500ms;
    border: 1px solid white;
}
.NavLink {
    text-decoration: none;
    background-color: var(--Button-color);
color: var(--button-text-color);
    align-self: center;
    padding: 10px 30px;
border: 1px solid black;
    border-radius: 20px;
}
.NavLink:hover {
    background-color: #0926e1;
    color: #59de0b;
    transition: background-color 500ms, color 500ms;
    border: 1px solid white;
}
.PlayerFullName {
    padding-left: 4px;
    text-decoration: none;
    color: var(--Text-color-bright);
}
.PlayerFullName:hover {
    color: #0b16de;
}
.UserIcon {
    width: auto;
    height: 100%;
}
.IconContainer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Buttons {
    text-decoration: none;
    background-color: var(--Button-color);
    color: var(--button-text-color);
    border: 1px solid #fffefe;
    border-radius: 20px;
    padding: 10px 50px;
    margin: 10px 0 0 0;
}
.Buttons:hover {
    text-decoration: none;
    color: #020202;
    background-color: #ffffff;
    transition: background-color 500ms;
}
.time {
    font-size: small;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    color: var(--Text-color-bright);
}
.AboutTournament {
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom: 10px;
}
.NavLinkName {
    position: relative;
    top: -4px;
    left: 5px;
    text-decoration: none;
    color: var(--color);
}
.NavLinkName:hover {
    text-decoration: underline;
    color: green;
}
.OwnerAndTime {
    padding: 10px 20px 0 0;
    display: flex;
    flex-direction: row;
}
.loader {
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.updateAndDelete {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.rightMenu {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.NameOfTournament:hover {
    background-image: linear-gradient(to right, red, #3776ff);
    background-clip: text;
    color: transparent;
}
.LeaveFromTournament {
    display: flex;
    flex-direction: column;
}