.image {
    width: 100px;
}
.pages{
    margin: 20px 0;
}
.page {
border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}
.currentPage {
    border: 3px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}