<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tournaments/">Tournaments</a></li>
        <li><a href="/add-tournament">New Tournament</a></li>
        <li><a href="/contacts">Contacts</a></li>
    </ul>
</nav>