.inputs {
    padding: 10px 30px;
    background-color: var(--Registration-inputs-background-color);
    color: var(--Registration-inputs-color);
    margin: 20px;
    border-radius: 20px;
    border: white;
    display: flex;
    flex-direction: column;
}
.inputFile {
    display: none;
}
.Image {
    width: 400px;
}
.uploadButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0247f6;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    /*position: relative;*/
    /*left: 80px;*/
    /*top: 10px;*/
}
.inputs:hover {
   outline: 2px solid black;
    box-shadow: 2px 2px 10px 2px inset;
}
.container {
 padding: 15% 40%;
    /*background-color: var(--Main-background-color);*/
    background: var(--Registration-background-image) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}
.errors {
    width: 300px;
    background-color: var(--CreateTournament-inputs-background-color);
    color: var(--Text-color-bright);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.inputs[type='submit'] {
padding: 10px 30px;
    background-color: #be0d0d;
    color: #bdb3b3;
    border-radius: 30px;
    position: relative;
    left: 23%;
}
.inputs::placeholder {
    color: var(--Placeholder-color-inputs);
    font-weight: bold;
}
.inputs:not([type='submit']):hover {
    color: white;
    outline: 2px solid black;
}
.inputs[type='submit']:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}