body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*color: white;*/
  /*background-color: #3a3a3a;*/
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html[data-theme='dark'] {
  --button-text-color: #c5c5c5;
  --Main-background-color: rgba(63, 63, 63, 0.49);
  --SideMenu-background-color: #4a004f;
  --color: white;
  --NavLink-color: white;
  --Button-color: #165716;
  --Header-backgound-color: #101846;
  --CreateTournament-inputs-background-color: #4d000e;
  --CreateTournament-inputs-color: #ffffff;
  --Registration-inputs-background-color: #00004d;
  --Registration-inputs-color: #ffffff;
  --Background-image: url("common/background(2)jpg.jpg");
  --CreateTournament-background-image: url("common/with Stormgate word.webp");
  --SomeText-color: rgb(247, 0, 255);
  --Text-color-bright: #42fd00;
  --Login-background-image: url('common/4151412-stormgate-2.jpg');
  --Login-background-color: green;
  --Registration-background-image: url('common/with Stormgate word.webp');
  --Placeholder-color-inputs: #f6f300;
}
html[data-theme='light'] {
  --button-text-color: #84e3ff;
  --Main-background-color: rgba(154, 154, 154, 0.5);
  --SideMenu-background-color: #9703a1;
  --color: black;
  --NavLink-color: black;
  --Button-color: #37b41b;
  --Header-backgound-color: #1d3ace;
  --CreateTournament-inputs-background-color: rgba(234, 9, 60, 0.98);
  --CreateTournament-inputs-color: #0b16de;
  --Registration-inputs-background-color: #00ff00;
  --Registration-inputs-color: #000000;
  --Background-image: url("common/with Stormgate word.webp");
  --SomeText-color: rgb(99, 0, 108);
  --Text-color-bright: #0031f6;
  --CreateTournament-background-image: url("common/4151412-stormgate-2.jpg");
  --Registration-background-image: url('common/download2.jpg');
  --Login-background-image: url('common/28059.jpg');
  --Placeholder-color-inputs: #0032fc;
  --Login-background-color: #00f9ff;
}