.container {
    background-color: var(--Main-background-color);
    background-image: url("maxresdefault1.jpg");
    /*min-height: 100vh;*/
    background-size: auto;
    /*background-position: center;*/
    background-repeat: no-repeat;
}
.global {
    background-color: var(--Main-background-color);
}
.main {
    display: flex;
    flex-direction: column;
    /*width: 10%;*/
    /*height: 100%;*/
    margin-left: 70%;
    padding-top: 10px;
    background-color: var(--Main-background-color);
    height: 600px;
    /*opacity: 80%;*/
    /*border-radius: 30px;*/
}
.oneTournament {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}
.fullName {
    opacity: 70%;
}
.imageCSS {
    width: 100%;
box-shadow: inset 50px 0px 10px 5px black;
    overflow: auto;
}
.TournamentImage {
    width: 30px; /* Заполните контейнер */
    height: 30px; /* Заполните контейнер */
    object-fit: cover; /* Сохраняйте пропорции картинки */
    border-radius: 50%;
    overflow: hidden;
}
.Participant {
    padding-left: 20px;
    color: var(--Text-color-bright);
    text-decoration: none;
}
.Participant:hover {
    color: #f8e700;
    text-decoration: underline;
}